.overview {
  height: 100vh;
  border-top:1px solid #2e2d39;
  background-image:linear-gradient(black -42%, #49485a 19%, #49485a 78%, black 128%);
}

.overview h1,
.overview h2
 {
  margin: 0;
  color: #cecece;
  text-align: left;
  font-weight: normal;
  font-family: sans-serif;
}

.overview h1 {
  font-size: 4em;
  padding: 50px 0 0 50px;
}
.overview h2 {
  font-size: 1.5em;
  padding: 0 0 0 50px;
}