.cover {
  background: url('./../../assets/bg3.jpg') no-repeat;
  background-size:cover;
  height: 100vh;
}

.cover h1,
.cover h2
 {
  margin: 0;
  color: white;
  text-align: left;
  text-shadow: 0 5px 15px rgba(0,0,0,.8);
  font-weight: normal;
  font-family: -webkit-pictograph;
}

.cover h1 {
  font-size: 7em;
  padding: 50px 0 0 50px;
}

.cover h2 {
  font-size: 3em;
  padding: 0 0 0 50px;
}