.content {
  text-align: center; 
}

.frontend,
.goal,
.stories {
  width: 100%;
}

.stories {
  padding: 30px 0;
  box-sizing: border-box;
  height: 100%;
  background-image: linear-gradient(#fff, #ccc);
  display: flex;
  flex-wrap: wrap;

}

.goal {
  border-bottom:1px solid #ccc;
  box-sizing: border-box;
  padding: 30px;
  background: #f4f4f4;
}



.goal__title,
.stories__title {
  font-size: 3em; 
  margin: 10px;
}

.goal__title {
  text-align: left;
}

.goal__title::before {
  content: attr(goal);
  text-align: center;
  border: 8px solid #dfdfdf;
  color: #c6c6c6;
  border-radius: 50%;
  margin-right: 20px;
  display: inline-block;
  padding: 0 10px;
}

.stories__title {
  width: 100%;
  text-align: center;
}

.goal__description {
  padding: 20px 0 40px 0;
  text-align: left;
}

.goal__details {
  display: flex;
}

.goal__details__problem,
.goal__details__solution {
  width: 50%;
}

.goal__details__problem__description,
.goal__details__solution__description {
  padding: 10px 30px;
}

.image {
  width: 96px;
  height: 96px;
  margin: 0 auto;
}

.goal__details__problem .image {
  fill:rgb(165, 99, 99);
}

.goal__details__solution .image {
  fill: #8db965;
}

.tech-only {
  --story-type-color: rgb(57, 103, 141);
  --story-type-color--light: rgb(78, 143, 196);
}
.bugfix {
  --story-type-color: rgb(187, 95, 42);
  --story-type-color--light: rgb(236, 123, 58);
}
.research {
  --story-type-color: rgb(141, 57, 120);
  --story-type-color--light: rgb(199, 103, 175);
}
.feature {
  --story-type-color: rgb(155, 156, 55);
  --story-type-color--light: rgb(207, 209, 74);
}

.story {
  position: relative;
  padding: 0px;
  margin: 15px;
  box-sizing: border-box;
  flex: 46%;
  box-shadow: 0 5px 10px rgba(0,0,0,.05);    
  background: #eee url('./../../assets/jira.png') bottom left no-repeat;
  text-align: left;
  /*border: 2px solid var(--story-type-color--light); */
  border: 1px solid #ddd;

}

.story::after {
  content: attr(storyPoints)" sp";
  background: var(--story-type-color);
  display: block;
  position: absolute;
  right: 5px;
  top: -2px;
  border-radius: 0 0 5px 5px;
  color: white;
  padding: 5px;
  

}

.tag {
  padding: 2px 5px;
  margin: 0 0 0 5px;
  vertical-align: middle;
  border-radius: 3px;
  display: inline-block;
  text-align: left;
  font-size: .5em;
}

.module {
  color: var(--story-type-color);
  border: 1px solid var(--story-type-color--light);
}

.type {
  color: #777;
  border: 1px solid #999;
}

.story__title {
  font-size: 1.2em;
  color:#222;
  padding: 10px 50px 10px 10px;
}
.story__title::before {
  font-weight: bold;
    color: rgb(49, 64, 82);
    content: "["attr(jiraId)"] ";
}