
.tech-only {
  --story-type-color: rgb(57, 103, 141);
  --story-type-color--light: rgb(78, 143, 196);
}
.bugfix {
  --story-type-color: rgb(187, 95, 42);
  --story-type-color--light: rgb(236, 123, 58);
}
.research {
  --story-type-color: rgb(141, 57, 120);
  --story-type-color--light: rgb(199, 103, 175);
}
.feature {
  --story-type-color: rgb(155, 156, 55);
  --story-type-color--light: rgb(207, 209, 74);
}

.story {
  position: relative;
  padding: 0px;
  margin: 15px;
  box-sizing: border-box;
  flex: 46%;
  box-shadow: 0 5px 10px rgba(0,0,0,.05);    
  background: #eee url('./../../../../assets/jira.png') bottom left no-repeat;
  text-align: left;
  /*border: 2px solid var(--story-type-color--light); */
  border: 1px solid #ddd;

}

.story::after {
  content: attr(storyPoints)" sp";
  background: var(--story-type-color);
  display: block;
  position: absolute;
  right: 5px;
  top: -2px;
  border-radius: 0 0 5px 5px;
  color: white;
  padding: 5px;
  

}

.tag {
  padding: 2px 5px;
  margin: 0 0 0 5px;
  vertical-align: middle;
  border-radius: 3px;
  display: inline-block;
  text-align: left;
  font-size: .5em;
}

.module {
  color: var(--story-type-color);
  border: 1px solid var(--story-type-color--light);
}

.type {
  color: #777;
  border: 1px solid #999;
}

.story__title {
  font-size: 1.2em;
  color:#222;
  padding: 10px 50px 10px 10px;
}
.story__title::before {
  font-weight: bold;
    color: rgb(49, 64, 82);
    content: "["attr(jiraId)"] ";
}