.frontend {
  padding-top:65px;
  box-sizing: border-box;
  background: url('./../../assets/frontend.jpg') center center no-repeat;
  background-size: cover;
  height: 200px;
  width: 100%;
  color: white;
  text-align: center;
  box-shadow: inset 0 0 20px 10px black;
  text-shadow: 0 5px 15px rgba(0,0,0,.8);
  font-weight: normal;
  font-family: sans-serif;
  font-size: 3em;
}