.stories {  
  width: 100%;
  padding: 30px 0;
  box-sizing: border-box;
  height: 100%;
  background-image: linear-gradient(#fff, #ccc);
  display: flex;
  flex-wrap: wrap;

}


.stories__title {
  font-size: 3em; 
  margin: 10px;
  width: 100%;
  text-align: center;
}