.graph {    
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  background: rgba(0,0,0,.2);
  height: 50vh;
  border-radius: 5px;
  padding-top: 50px;
  margin: 5% 5% 0 5%;
}