.bar {
  border: 1px solid #963557;
  width: 100px;
  border-bottom: 0;
  border-radius: 5px 5px 0 0;
  box-shadow: 0px -10px 25px rgba(0,0,0,.2);
  background-image: linear-gradient(#963557, #960e27);
  position: relative;
  
}

.bar .name {
  position: absolute;
  top: -50px;
  text-align: center;
  width: 100%;
  color: #7f7f8a;
}

.bar .value {
  width: 100%;
  display: inline-block;
  font-size: 4em;
  margin: 0;
  color: rgba(0,0,0,.1);
}